extends ../../layout/default.pug

block main
    if (product.title)
        h1(class="mb-4") #{product.title}
    
    if (product.stock)
        div(class="mb-4") Còn Lại <b>#{product.stock}</b>

    if (product.thumbnail)
        div(class = "mb-4")
            img(
                src=product.thumbnail
                style="width: 100px"
            )
    
    if (product.status)
        div(class = "mb-4")
            span Trạng Thái:
            if (product.status === "active")
                span(class="badge badge-success") Hoạt Đông
            else 
                span(class="badge badge-danger") Dừng Hoạt Động
    
    if (product.position)
        div(class="mb-4") Vị Trí: <b>#{product.position}</b>
    
    if (product.description)
        div(class="mb-4") !{product.description}
    
    if (product.id)
        a(
            href=`${prefixAdmin}/products-category/edit/${product.id}`
            class="btn btn-warning"
        ) Chỉnh Sửa
    else
        p Error

    srcipt(src="/admin/js/products.js")