extends ../../layout/default.pug

block main
    h1(class="mb-4") Thông Tin Cá Nhân

    if (user.avatar)
        img(src=user.avatar width="150px" class="mb-3")
    else
        img(src="/admin/images/avatar.png" width="150px" class="mb-3")
    
    if (user.fullName)
        p Họ Tên: <b>#{user.fullName}</b>

    if (user.email)
        p Email: <b>#{user.email}</b>
        
    if (user.phone)
        p Số Điện Thoại: <b>#{user.phone}</b>
    
    p 
        span Trạng Thái:
        span 
            <b>#{user.status === "active" ? "active" : "inactive"}</b>
    
    if (role.title)
        p Phân Quyền: <b>#{role.title}</b>
    
    div
        a(
            href=`${prefixAdmin}/my-account/edit`
            class="btn btn-primary"
        ) Chỉnh Sửa Thông Tin Cá Nhân
        br
        a(
            href=`${prefixAdmin}/my-account/password/reset`
            class="btn btn-dark"
        ) Đổi Mật Khẩu