extends ../../layout/default.pug
include ../../mixins/alert.pug
block main
    +alert-error(5000)
    .container.my-5 
        .row.justify-content-center
            .col-8
                h1(class="text-center") Đổi Mật Khẩu
                form(
                    action=`${prefixAdmin}/my-account/password/reset`
                    method="POST"
                )
                    div(class="form-group")
                        label(for="password") Nhập Mật Khẩu Cũ
                        input(
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            required
                        )
                    
                    div(class="form-group")
                        label(for="password") Nhập Mật Khẩu Mới
                        input(
                            type="password"
                            class="form-control"
                            id="newPassword"
                            name="newPassword"
                            required
                        )
                    div(class="form-group")
                        label(for="confirmPassword") Xác Nhận Mật Khẩu
                        input(
                            type="password"
                            class="form-control"
                            id="confirmPassword"
                            name="confirmPassword"
                            required
                        )
                    div(class="form-group")
                        button(
                            type="submit"
                            class="btn btn-primary btn-block"
                        ) Đổi Mật Khẩu